/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 13px 20px 40px;
  background-color: #ffffff;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-list {
  list-style: none;
}


@media (min-width: $tablet-width) {
  body {
    padding: 25px 30px 55px;
  }
}

@media (min-width: $desktop-width) {
  body {
    padding: 55px 110px 66px;
  }
}
