@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin button() {
  .button {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: rgba(104, 183, 56, 1);
    width: 280px;
    height: 40px;
    border: none;
  }
}
