/* здесь используйте глобальные переменные */
:root {
  --font-main: "Lato", sans-serif;
  --font-minor: "Oswald", sans-serif;
  --main-green: rgba(104, 183, 56, 1);
  --main-grey: rgba(68, 68, 68, 1);
}
