/* GLOBAL */
@import "./common/variables.scss";
@import "./common/mixins.scss";
@import "./common/fonts.scss";
@import "./common/global.scss";


/* BLOCKS */
@import "./blocks/main-header.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/site-list.scss";
@import "./blocks/main-container.scss";
@import "./blocks/products.scss";
@import "./blocks/product-card.scss";
@import "./blocks/info-card.scss";
@import "./blocks/additional-products.scss";
@import "./blocks/plus-product-card.scss";
@import "./blocks/plus-product-info.scss";
@import "./blocks/bonus-product.scss";
@import "./blocks/subscribe.scss";
@import "./blocks/email.scss";
@import "./blocks/basic-data.scss";
@import "./blocks/cat-data.scss";
@import "./blocks/purpose-control.scss";
@import "./blocks/owner-contacts.scss";
@import "./blocks/contacts-group.scss";
@import "./blocks/owner-comments.scss";
@import "./blocks/comments-group.scss";
@import "./blocks/additional-ingredients.scss";
@import "./blocks/additional-group.scss";
@import "./blocks/promo.scss";
@import "./blocks/benefits.scss";
@import "./blocks/main-review.scss";
@import "./blocks/outcome-table.scss";
@import "./blocks/main-slider.scss";
@import "./blocks/main-footer-container.scss";
@import "./blocks/footer-address.scss";
@import "./blocks/address.scss";
@import "./blocks/footer-contacts.scss";

