.benefits-description {
  width: 200px;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .benefits-description {
    font-size: 16px;
    line-height: 24px;
    width: 250px;
  }
}

/* @media (min-width: $desktop-width) {

} */
