.button {
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: rgba(104, 183, 56, 1);
  width: 280px;
  height: 40px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
