.email__input {
  width: 280px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: #444444;
  padding: 13px;
  border: 1px solid #cdcdcd;
}
