.email__input {
  width: 280px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  color: var(--main-grey);
  padding: 13px;
  border: 1px solid rgba(205, 205, 205, 1);
}
