.footer-address__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(17, 17, 17, 1);
}

.footer-address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--main-grey);
}
