.footer-address {
  display: flex;
  flex-wrap: wrap;
  padding: 26px 20px 0;
  row-gap: 26px;
}

.footer-address__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(17, 17, 17, 1);
  margin: 0;
  width: 140px;
}

.footer-address__link {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--main-grey);
  width: 140px;
}

@media (min-width: $tablet-width) {
  .footer-address {
    justify-content: space-between;
    padding: 0;
  }

  .footer-address__title {
    width: 165px;
    margin: 61px 0 0 70px;
  }

  .footer-address__link {
    width: 165px;
    margin: 61px 70px 0 0;
    text-align: end;
  }

  .footer-address__map {
    width: 768px;
  }
}
