.footer-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--light-grey);
}

.footer-contacts__logo-name {
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-contacts__social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 132px;
}

.footer-contacts__social-list.reset-list {
  padding: 20px 0;
}

.footer-contacts__html-academy {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .footer-contacts {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 55px 30px;
  }

  .footer-contacts__social-list.reset-list {
    padding: 0;
  }

  .footer-contacts__logo-name {
    padding: 0;
  }

  .footer-contacts__html-academy {
    width: 168px;
  }
}
