.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-header__toggle {
  all: unset;
  width: 24px;
  height: 24px;
  font-size: 0;


  background-image: url("../../icons/stack.svg#menu_lines");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: 100% 0;


  &.main-header__toggle.toggle--active {
    background-image: url("../../icons/stack.svg#menu_cross");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 100% 0;
  }
}

@media (min-width: $tablet-width) {
  .main-header {
    display: flex;
    margin: 0 auto;
    align-items: center;
  }

  .main-header__logo {
    width: 174px;
  }

  .main-header__logo-name {
    display: none;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    display: flex;
    margin: 0 auto;
    align-items: center;
  }

  .main-header__logo {
    width: 202px;
  }

  .main-header__logo-name {
    display: none;
  }

  .main-header__toggle {
    display: none;
  }
}

