.main-review__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.main-review__description {
  color: var(--main-grey);
}

.main-review__conclusion {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}
