.main-review {
  background-color: var(--minor-grey);
  padding: 0 20px;
  padding-top: 25px;
}

.main-review__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 40px;
}

.main-review__description {
  color: var(--main-grey);
  margin: 0;
  margin-bottom: 20px;
}

.main-review__conclusion {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-review {
    background-color: var(--main-white);
    padding: 0;
    padding-top: 25px;
  }

  .main-review__title {
    margin-bottom: 60px;
  }

  .main-review__description {
    margin-bottom: 55px;
  }
}
