.main-nav {
  display: flex;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 110%;
  left: 0;

  &.main-nav--close {
    display: none;
  }

  &.main-nav--open {
    display: block;
    z-index: 2;
  }
}

.main-nav__list {
  background-color: var(--main-white);
}


@media (min-width: $tablet-width) {
  .main-nav {
    position: relative;

    &.main-nav--close {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    position: relative;

    &.main-nav--close {
      display: block;
    }
  }
}

