.outcome-table {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.outcome-table__value {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  grid-column: 1/3;
  grid-row: 1/2;
}

.outcome-table__value:nth-of-type(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
