$title-color: rgba(34, 34, 34, 1);

.product-card__link {
  text-decoration: none;
}

.product-card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: $title-color;
  text-transform: uppercase;
}
