.product-card__link {
  text-decoration: none;
}

.product-card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}
