.promo-preview-slim {
  background-color: rgba(242, 242, 242, 1);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 288px;
  background-image: url("../../icons/stack.svg#cat_slim");
  background-size: 50px 53px;
  background-repeat: no-repeat;
  background-position: 0 0;
}


.promo-preview-slim__excerpt-title {
  font-family: var(--font-minor);
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 29px;
}

.promo-preview-slim__excerpt-description {
  color: var(--main-grey);
  width: 227px;
  margin-left: 20px;
  margin-bottom: 38px;
}

.promo-preview-slim__more {
  font-family: var(--font-minor);
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  width: 139px;
  margin-left: 20px;
  background-image: url("../../icons/stack.svg#arrow");
  background-size: 24px 12px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
