.promo-preview__excerpt-title {
  font-family: var(--font-oswald);
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;


  &:nth-child(1) {
    background-image: url("../../icons/stack.svg#cat_slim");
    background-size: 50px 53px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:nth-child(2) {
    background-image: url("../../icons/stack.svg#cat_strong");
    background-size: 50px 53px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
}


.promo-preview__more {
  font-family: var(--font-oswald);
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  width: 139px;
  background-image: url("../../icons/stack.svg#arrow");
  background-size: 24px 12px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
