.promo-preview__excerpt-title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}


.promo-preview__more {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}
