.promo-preview {
  background-color: rgba(242, 242, 242, 1);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 288px;
}


.promo-preview__excerpt-title {
  font-family: var(--font-minor);
  font-size: 24px;
  line-height: 37px;
  min-height: 57px;
  text-transform: uppercase;
  text-align: center;


  &:nth-child(1) {
    background-image: url("../../icons/stack.svg#cat_slim");
    background-size: 50px 53px;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }


  &.promo-preview__excerpt-title-strong {
    background-image: url("../../icons/stack.svg#cat_strong");
    background-size: 67px 50px;
    background-repeat: no-repeat;
    background-position: 0 50%;
  }
}


.promo-preview__more {
  font-family: var(--font-minor);
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  display: block;
  width: 139px;
  background-image: url("../../icons/stack.svg#arrow");
  background-size: 24px 12px;
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
