.promo__title,
.promo__description {
  font-family: "Oswald", sans-serif;
  color: rgba(255, 255, 255, 1);
  position: relative;
  text-align: center;
  margin: 0;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  padding-top: 27px;
  margin-bottom: 25px;
}

.promo__description {
  line-height: 14px;
  margin-bottom: 29px;
  text-transform: uppercase;
}

.promo__photo-cat {
  position: absolute;
  top: 11%;
  right: 0;
  background-color: var(--main-green);
  z-index: -1;
}

.promo__photo {
  margin: 0 20px;
}

.promo__button {
  margin: 0 20px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .promo__title,
  .promo__description {
    color: var(--main-dark);
    width: 420px;
    text-align: start;
    margin: 0 120px;
  }

  .promo__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }

  .promo__description {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 50px;
    position: relative;
  }

  .promo__photo-cat--close {
    display: none;
  }


  .promo__button {
    width: 242px;
    padding: 24px 14px;
    margin: 0 120px;
    position: absolute;
    top: 67%;
  }
}

@media (min-width: $desktop-width) {
  .promo__photo-cat--close {
    display: block;
  }
}

