.subscribe__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.subscribe__description {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
